<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Plant Shield</title>
  </head>
  <body class="bg-[#274B36]">
    <div class="flex h-screen">
      <div class="p-10">
        {% include 'navbar.html' %}
        <h1
          class="main_para text-4xl font-bold text-white mb-6 tracking-wider lg:ml-4 lg:mr-[14em] lg:leading-normal"
        >
          Know before you Grow!
        </h1>
        <h1
          class="main_para text-4xl font-bold text-white mb-6 tracking-wider lg:ml-4 lg:mr-[14em] lg:leading-normal"
        >
          11 varieties classified with precision!
        </h1>
        <div
          class="grid xl:grid-cols-3 grid-cols-1 lg:grid-cols-2 gap-5 justify-center items-center"
        >
          <div
            class="max-w-sm lg:max-w-full lg:ml-4 lg:flex shadow-sm cursor-pointer hover:shadow-2xl"
          >
            <div
              class="h-48 lg:h-auto lg:w-48 flex-none bg-cover rounded lg:rounded-t-none lg:rounded-l text-center overflow-hidden"
              title="plant"
              style="
                background-image: url('/static/images/AbrusPrecatorius.jpeg');
              "
              ,
            ></div>
            <div
              class="border-r h-[20em] border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
            >
              <div class="mb-8">
                <div class="text-[#FF6000] font-bold text-xl mb-2">
                  <p class="capitalize">abrus precatorius</p>
                </div>
                <p class="text-gray-700 text-base">
                  Abrus precatorius, also known as the rosary pea, is a highly
                  toxic plant found in Southern and Eastern India. Its
                  consumption, can be lethal to humans due to its neurotoxic
                  activity.
                </p>
              </div>
            </div>
          </div>

          <div
            class="max-w-sm lg:max-w-full lg:ml-4 lg:flex shadow-sm cursor-pointer hover:shadow-2xl"
          >
            <div
              class="h-48 lg:h-auto lg:w-48 flex-none bg-cover bg-center rounded lg:rounded-t-none lg:rounded-l text-center overflow-hidden"
              title="plant"
              style="
                background-image: url('/static/images/madagascar\ periwinkle.jpeg');
              "
            ></div>
            <div
              class="border-r h-[20em] border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
            >
              <div class="mb-8">
                <div class="text-[#FF6000] font-bold text-xl mb-2">
                  <p class="capitalize">madagascar periwinkle</p>
                </div>
                <p class="text-gray-700 text-base">
                  Madagascar periwinkle, present throughout India, has a low
                  poison level. However, consuming this cytotoxic plant can
                  cause vomiting, diarrhea, and stomach pain.
                </p>
              </div>
            </div>
          </div>

          <div
            class="max-w-sm lg:max-w-full lg:ml-4 lg:flex shadow-sm cursor-pointer hover:shadow-2xl"
          >
            <div
              class="h-48 lg:h-auto lg:w-48 flex-none bg-cover rounded lg:rounded-t-none lg:rounded-l text-center overflow-hidden"
              title="plant"
              style="background-image: url('/static/images/casterOil.jpeg')"
            ></div>
            <div
              class="border-r h-[20em] border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
            >
              <div class="mb-8">
                <div class="text-[#FF6000] font-bold text-xl mb-2">
                  <p class="capitalize">castor oil plant</p>
                </div>
                <p class="text-gray-700 text-base">
                  Castor oil plant, found throughout India, is a highly
                  poisonous plant with both cytotoxic and Ricin toxin
                  activities. Eating its seeds can lead to severe abdominal
                  pain, vomiting, and diarrhea
                </p>
              </div>
            </div>
          </div>

          <div
            class="max-w-sm lg:max-w-full lg:ml-4 lg:flex shadow-sm cursor-pointer hover:shadow-2xl"
          >
            <div
              class="h-48 lg:h-auto lg:w-48 flex-none bg-cover bg-center rounded lg:rounded-t-none lg:rounded-l text-center overflow-hidden"
              title="plant"
              style="background-image: url('/static/images/Dieffenbachia.jpeg')"
            ></div>
            <div
              class="border-r h-[20em] border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
            >
              <div class="mb-8">
                <div class="text-[#FF6000] font-bold text-xl mb-2">
                  <p class="capitalize">Dieffenbachia</p>
                </div>
                <p class="text-gray-700 text-base">
                  Dieffenbachia, found throughout India, is an irritant plant
                  that, when chewed, can cause swelling and burning of the mouth
                  and throat breathing difficulty and corneal damage.
                </p>
              </div>
            </div>
          </div>

          <div
            class="max-w-sm lg:max-w-full lg:ml-4 lg:flex shadow-sm cursor-pointer hover:shadow-2xl"
          >
            <div
              class="h-48 lg:h-auto lg:w-48 flex-none bg-cover rounded lg:rounded-t-none lg:rounded-l text-center overflow-hidden"
              title="plant"
              style="background-image: url('/static/images/Foxglove.jpeg')"
            ></div>
            <div
              class="border-r h-[20em] border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
            >
              <div class="mb-8">
                <div class="text-[#FF6000] font-bold text-xl mb-2">
                  <p class="capitalize">Foxglove</p>
                </div>
                <p class="text-gray-700 text-base">
                  Foxglove, found in the Himalayan region and Western Ghats,
                  contains cardiac glycosides that can cause irregular heartbeat
                  and death if leaves or seeds are ingested.
                </p>
              </div>
            </div>
          </div>

          <div
            class="max-w-sm lg:max-w-full lg:ml-4 lg:flex shadow-sm cursor-pointer hover:shadow-2xl"
          >
            <div
              class="h-48 lg:h-auto lg:w-48 flex-none bg-cover rounded lg:rounded-t-none lg:rounded-l text-center overflow-hidden"
              title="plant"
              style="background-image: url('/static/images/lilies.jpeg')"
            ></div>
            <div
              class="border-r h-[20em] border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
            >
              <div class="mb-8">
                <div class="text-[#FF6000] font-bold text-xl mb-2">
                  <p class="capitalize">Lilies</p>
                </div>
                <p class="text-gray-700 text-base">
                  Lilies, present throughout India, are nephrotoxic plants that
                  can cause kidney damage in cats if ingested.
                </p>
              </div>
            </div>
          </div>

          <div
            class="max-w-sm lg:max-w-full lg:ml-4 lg:flex shadow-sm cursor-pointer hover:shadow-2xl"
          >
            <div
              class="h-48 lg:h-auto lg:w-48 flex-none bg-cover rounded lg:rounded-t-none lg:rounded-l text-center overflow-hidden"
              title="plant"
              style="background-image: url('/static/images/oleander.jpg')"
            ></div>
            <div
              class="border-r h-[20em] border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
            >
              <div class="mb-8">
                <div class="text-[#FF6000] font-bold text-xl mb-2">
                  <p class="capitalize">Oleander</p>
                </div>
                <p class="text-gray-700 text-base">
                  A highly toxic plant found throughout India. Ingesting any
                  part of the plant can cause nausea, vomiting, and irregular
                  heartbeat due to its cardiac glycosides properties.
                </p>
              </div>
            </div>
          </div>

          <div
            class="max-w-sm lg:max-w-full lg:ml-4 lg:flex shadow-sm cursor-pointer hover:shadow-2xl"
          >
            <div
              class="h-48 lg:h-auto lg:w-48 flex-none bg-cover rounded lg:rounded-t-none lg:rounded-l text-center overflow-hidden"
              title="plant"
              style="background-image: url('/static/images/pothos.jpg')"
            ></div>
            <div
              class="border-r h-[20em] border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
            >
              <div class="mb-8">
                <div class="text-[#FF6000] font-bold text-xl mb-2">
                  <p class="capitalize">Pothos</p>
                </div>
                <p class="text-gray-700 text-base">
                  A low-poison plant found throughout India, but chewing the
                  leaves can cause swelling and burning of the mouth and throat
                  due to its irritant properties.
                </p>
              </div>
            </div>
          </div>

          <div
            class="max-w-sm lg:max-w-full lg:ml-4 lg:flex shadow-sm cursor-pointer hover:shadow-2xl"
          >
            <div
              class="h-48 lg:h-auto lg:w-48 flex-none bg-cover rounded lg:rounded-t-none lg:rounded-l text-center overflow-hidden"
              title="plant"
              style="background-image: url('/static/images/rhubarb.jpg')"
            ></div>
            <div
              class="border-r h-[20em] border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
            >
              <div class="mb-8">
                <div class="text-[#FF6000] font-bold text-xl mb-2">
                  <p class="capitalize">Rhubarb</p>
                </div>
                <p class="text-gray-700 text-base">
                  A low-poison plant found throughout India, but eating large
                  amounts of leaves can cause kidney damage due to its oxalates
                  properties.
                </p>
              </div>
            </div>
          </div>

          <div
            class="max-w-sm lg:max-w-full lg:ml-4 lg:flex shadow-sm cursor-pointer hover:shadow-2xl"
          >
            <div
              class="h-48 lg:h-auto lg:w-48 flex-none bg-cover rounded lg:rounded-t-none lg:rounded-l text-center overflow-hidden"
              title="plant"
              style="background-image: url('/static/images/lilyvalley.jpg')"
            ></div>
            <div
              class="border-r h-[20em] border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
            >
              <div class="mb-8">
                <div class="text-[#FF6000] font-bold text-xl mb-2">
                  <p class="capitalize">lily of the valley</p>
                </div>
                <p class="text-gray-700 text-base">
                  Abrus precatorius, also known as the rosary pea, is a highly
                  toxic plant found in Southern and Eastern India. Its
                  consumption, even a single seed, can be lethal to humans due
                  to its neurotoxic activity
                </p>
              </div>
            </div>
          </div>

          <div
            class="max-w-sm lg:max-w-full lg:ml-4 lg:flex shadow-sm cursor-pointer hover:shadow-2xl"
          >
            <div
              class="h-48 lg:h-auto lg:w-48 flex-none bg-cover rounded lg:rounded-t-none lg:rounded-l text-center overflow-hidden"
              title="plant"
              style="background-image: url('/static/images/wisteria.jpg')"
            ></div>
            <div
              class="border-r h-[20em] border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
            >
              <div class="mb-8">
                <div class="text-[#FF6000] font-bold text-xl mb-2">
                  <p class="capitalize">Wisteria</p>
                </div>
                <p class="text-gray-700 text-base">
                  A highly toxic plant found in the Himalayan region and Western
                  Ghats. Ingesting the seeds or pods can cause vomiting,
                  diarrhea, and confusion due to its neurotoxic properties.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
