<!DOCTYPE html>
<html>
<head>
    <title>Image Classifier</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <nav class="navbar">
        <div class="brand-title">Image Classifier</div>
        <a href="#" class="toggle-button">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </a>
        <div class="navbar-links">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
    </nav>
    
    <div class="form-container">
        <form action="{{ url_for('predict') }}" method="POST" enctype="multipart/form-data">
            <h2>Select an image to classify:</h2>
            <input type="file" name="image" id="image" accept=".jpg, .jpeg, .png" required>
            <input type="submit" value="Classify">
        </form>
    </div>
    
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>
